@tailwind base;
@tailwind components;
@tailwind utilities;

h1, h2, h3{
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #EB4E74 ;
    font-weight: 700;
}

p {
    font-family: 'Inter', sans-serif;
}

#about, #staff, #app{
    margin-bottom: 10rem;
}